.gary-background{
    background-color:rgba(150, 157, 158, 0.247);
    padding: 1em;
}
#title{
    text-align: center;
    font-family:Lobster;
    padding: 1.5em;
    font-size: 25px;
}
#tribute-info{
    text-align: center;
    position: relative;
    bottom: 70px;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-div{
    background-color: rgba(13, 16, 63, 0.89);
    border: 1px solid rgba(150, 157, 158, 0.247);
  
    margin: 1px 15px;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}
#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img-caption{
    color: white;

}

.text{
    color: white;
}
.text2{
    text-align: center;
    position: relative;
    bottom: 35px;

}
.text3{
    font-size: 15px;
    margin: auto;
    width: 500px;
    }
.text4{
    margin: auto;
    width: 500px;
}
.text5{
    text-align: center;
}